* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #0c1016;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3{
  color:#fff;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 40px 20px;
  width: 50%;
}

.card {
  width: 200px;
  height: 200px;
  background: none;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.15s;
}

.card::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: inherit;
  background: radial-gradient(
    960px circle at 0 0,
    rgba(59, 248, 251, 0.1),
    transparent 40%
  );
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.card-content {
  background-color: #1e2125;
  border-radius: inherit;
  transition: all 0.25s;
  height: calc(100% - 2px);
  width: calc(100% - 2px);
}

.card:hover {
  transform: scale(0.98);
}

.card:hover::before {
  opacity: 1;
}
